.index{
    background-image: url("../images/image2.jpg");
}
.jumbotron{
    background-color: brown;
    align-content: center;
}
.well{
    background-color: brown;
    text-align: center;
}
.squad{
    background-image: url("../images/image3.jpg")
}