.index{
    background-color: papayawhip;
}
.jumbotron{
    background-color: brown;
    align-content: center;
}
.well{
    background-color: brown;
    text-align: center;
    color: white;
}
.squad{
    background-color: brown;
}
.navbar navbar-default{
    background-color: black;
}
body{
    background-image: url("../images/image4.jpg");
    text-align: center;
    color: white;
}
.well hover{

}