<h1>Hero list!</h1>
#if ($heroes)
    <ul>
        #foreach ($hero in $heroes)
            <li><a href="/heroes/$hero.getId()">$hero.getName()</a></li>
        #end
    </ul>
#else
    <p>No heroes!</p>
#end 
<a href="/heroes/new">Add New Hero</a>
