<h1>$hero.getName()</h1><br><br>
<h3>$hero.getAge()</h3><br><br>
<h3>$hero.getPower()</h3><br><br>
<h3>$hero.getWeakness()</h3><br><br>

<button type="submit" class="btn btn-outline-dark"><a href="/heroes">All Heroes</a></button>