<h1>Hero list!</h1>
#if ($heroes)
    <ul>
        #foreach ($hero in $heroes)
            <li><a href="/heroes/$hero.getId()">$hero.getName()</a></li><br><br>
        #end
    </ul>
#else
    <p>No heroes!</p>
#end 
<button type="submit" class="btn btn-outline-dark"><a href="/heroes/new">Add New Hero</a></button>
