<div class="index">

<div class="jumbotron">
<h1>HERO-SQUAD!</h1>
</div>

<button type="submit" class="btn btn-outline-dark"><a href="/squads/new">Add a New Squad</a></button><br><br>
<button type="submit" class="btn btn-outline-dark"><a href="/squads">View Squad List</a></button>

</div>