<div class="index">

<div class="jumbotron">
<h1>HERO-SQUAD!</h1><br><br>
<h3>An application that allows you to add squads of heroes!!<br><br><img src='/images/image5.gif' alt= 'A photo of pine leaves.'/>  <br><br>Enjoy!</h3>

</div>

<button type="submit" class="btn btn-outline-dark"><a href="/squads/new">Add a New Squad</a></button><br><br>
<button type="submit" class="btn btn-outline-dark"><a href="/squads">View Squad List</a></button>

</div>