<h1>You have successfully added a squad!</h2>

    #foreach ($squad in $squad)
<h1>$hero.getName()</h1>
<hr>
<h3>$hero.getSize()</h3>
<hr>
<h3>$hero.getCause()</h3>
<hr>
#end
<br><br><br>
<a href="/">Go back</a>