<div class="well">
<h1>Add a squad</h1>

<p>Add a squad here:</p>



<form action="/squads" method="post">
    <label for="name">Squad  Name</label>
    <input id="name" name="name" type="text"><br<br><br><br>

    <label for="size">Squad  Size</label>
    <input id="size" name="size" type="text"><br><br>

    <label for="cause">Squad Cause</label>
    <input id="cause" name="cause" type="text"><br><br>
    <button type="submit" class="btn btn-success">Add Squad</button>   
</form>
<div>
