<h1>Squad list!</h1>
#if ($squads)
    <ul>
        #foreach ($squad in $squads)
            <li><a href="/squads/$squad.getId()">$squad.getName()</a></li><br><br>
        #end
    </ul>
#else
    <p>No squads!</p>
#end 
<a href="/squads/new">Add New Squad</a>