<h1>You have successfully added a hero!</h2>

    #foreach ($hero in $hero)
<h1>$hero.getName()</h1>
<hr>
<h3>$hero.getAge()</h3>
<hr>
<h3>$hero.getPower()</h3>
<hr>
<br>
<h3>$hero.getWeakness()</h3>
#end
<br><br><br>
<button type="submit" class="btn btn-outline-dark"><a href="/heroes">View Heroes</a></button>